<!-- app-content -->
<div class="application" [class.application--menu-minimized]="menuMinimized">
  <!-- painel lateral -->
  <div class="application__aside">
    <ft-menu-header
      [user]="user"
      [minimize]="menuMinimized"
      (toggle)="handleMenuToggle()"
    ></ft-menu-header>
    <div id="menu_body_container">
      <ft-menu-body [links]="menuLinks" [minimize]="menuMinimized"></ft-menu-body>
    </div>
    <div id="footer">
      <ft-menu-footer
      [buttons]="menuFooterButtons"
      [minimize]="menuMinimized"
      ></ft-menu-footer>
    </div>
  </div>
  <!-- painel lateral end -->
  <!-- container principal -->
  <div class="application__main"></div>
  <!-- container principal end -->
</div>
<!-- app-content end -->
