footer{
  & > div {
    border-top: 2px solid rgba(0,0,0,0.1);

  cursor:pointer;

  span{
    color:rgba(0,0,0,0.6);
  }

  display:flex;
  margin-top:auto;
  background-color: #F2F9F2;
  align-items:center;
  justify-content:space-between;
  padding:20px;
  }
}
