$back:rgba(0,0,0,0.6);
$white:#F2F9F2;
$gray:rgba(0,0,0,0.1);

footer{
  & > div {
    border-top: 2px solid $gray;

  cursor:pointer;

  span{
    color:$back;
  }

  display:flex;
  margin-top:auto;
  background-color:$white;
  align-items:center;
  justify-content:space-between;
  padding:20px;
  }
}
